@charset "UTF-8";
table
 {
 border-collapse:collapse;
 }

.a td
 {

 font-size:20px;
 

}
#title
 {
 width:100%;
 height:100px;
　
 
 }
 #job
 {
 width: 100%;
 height:50px;
 
 
 }
 #bioadan
 {
 width:800px;

 }
